.homeview {
    overflow-y: auto;

    &__wrapper {
        @include flex-column;
        height: 100%;
    }

    &__layout {
        @include flex-row;
        padding: 0 16px;
        height: 100%;

        &__sidebar {
            flex: 0 0 260px;
            background-color: teal;
        }

        &__main {
            flex: 1;
            background-color: red;
        }
    }
}