.checkbox__radiogroup {
    position: relative;
    @include flex-column;
    padding: 10px 0;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: var(--color-grey-300);
    }

    &__text {
        margin: 0 8px;
        color: var(--color-grey-700);
    }

    &__radiobtn {
        @include flex-row;
        width: 100%;
        cursor: pointer;
        padding: 10px 0;
    }

    &__radio {
        transition-property: box-shadow, -webkit-box-shadow;
        transition-duration: .15s;
        transition-timing-function: ease-out;
        position: relative;
        height: 20px;
        min-width: 20px;
        border: 2px solid var(--color-grey-400);
        border-radius: 2px;
        background-color: var(--color-white);
        cursor: pointer;

        &:checked {
            border-color: var(--color-theme-light-green);
        }

        &::after {
            content: "";
            position: absolute;
            top: 3px;
            left: 3px;
            width: 10px;
            height: 10px;
            border-radius: 2px;
        }

        &:checked::after {
            background-color: var(--color-theme-light-green);
        }

        &:hover {
            border-color: var(--color-theme-light-green);
        }
    }
}