.listview {
    margin: 20px 0;

    &__wrapper {
        position: relative;
        padding-right: 10px;
        padding-left: 5px;

        @include respond(tab-port) {
            padding-right: 0px;
            padding-left: 0px;
        }

        &__rightbtn {
            position: absolute;
            top: 150px;
            right: 10px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: var(--color-white);
            color: var(--color-theme-light-green);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 10;
            cursor: pointer;
            box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.15);

            i {
                font-size: 22px;
            }

            @include respond(tab-port) {
                display: none;
            }
        }
    }

    &__title {
        margin: 5px 0;
        font-size: 26px;
        font-weight: 600;
        color: var(--color-grey-700);

        @include respond(tab-port) {
            font-size: 18px;
        }
    }

    &__subtitle {
        margin: 5px 0;
        font-size: 15px;
        font-weight: 300;
        color: var(--color-grey-700);

        @include respond(tab-port) {
            font-size: 13px;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
        border-radius: 3px;
        cursor: pointer;
        box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.12);

        &__imagebox {
            position: relative;
            height: 100%;
            display: block;
            padding-top: 56%;
            overflow: hidden;

            @include respond(tab-port) {
                padding-top: 48%;
            }

            &__img {
                background-image: url('@/static/Restaurants/deliveroohop.jpeg');
                background-repeat: no-repeat;
                background-position: 50%;
                background-size: cover;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: var(--color-grey-200);
            }

            &__timestamp {
                @include flex-row-centered;
                box-shadow: 0px 10px 5px 0 rgba(0, 0, 0, 0.15);
                background-color: var(--color-white);
                padding: 8px 10px;
                border-radius: 18px;
                position: absolute;
                right: 5px;
                bottom: 5px;
                z-index: 99;

                span {
                    margin: 0 2px;
                    font-size: 14px;

                    i {
                        font-size: 18px;
                        margin-top: 3px;
                        color: var(--color-theme-light-green);
                    }
                }
            }

            &__badge {
                background-color: var(--color-theme-ctx-red);
                color: var(--color-white);
                position: absolute;
                font-size: 13px;
                font-weight: 600;
                padding: 3px 5px;
                border-radius: 3px;
                top: 10px;
                left: 5px;
                z-index: 10;
            }
        }

        &__context {
            z-index: 10;
            padding: 5px 10px 20px 10px;
            @include flex-column;
            height: 130px;

            @include respond(tab-port) {
                height: auto;
            }

            &__title {
                margin: 5px 0;
                font-size: 16px;
                white-space: wrap;
                font-weight: 600;
                color: var(--color-grey-700);

                @include respond(tab-port) {
                    font-size: 16px;
                }
            }

            &__rating {
                @include flex-row;
                font-size: 14px;

                @include respond(tab-port) {
                    font-size: 13px;
                }

                i {
                    color: var(--color-theme-ctx-green);
                    align-self: center;
                    font-size: 14px;
                }

                span {
                    color: var(--color-theme-ctx-green);
                    margin: 0 6px;

                    @include respond(tab-port) {
                        font-size: 14px;
                    }
                }

                p {
                    color: var(--color-grey-700);
                }
            }
        }

        &__delivery {
            @include flex-row-centered;
            font-size: 13px;
            margin: 8px 0;
            color: var(--color-grey-700);
        }
    }
}